"*":
  "autocomplete-plus":
    minimumWordLength: 2
    useCoreMovementCommands: false
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "styleguide"
      "welcome"
      "background-tips"
      "language-clojure"
      "linter"
    ]
    telemetryConsent: "limited"
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    fontFamily: "Fira Code Retina"
    fontSize: 12
    softWrap: true
  "exception-reporting":
    userId: "9b3c50a3-fe63-4dcb-8eeb-9aad8cb4f089"
  "linter-elixir-credo":
    flags: "--strict"
  "linter-ui-default":
    panelHeight: 278
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    style:
      animationSpeed: 0
      defaultPanelHeight: "200px"
  "quick-highlight":
    decorate: "highlight"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapCCToChangeInnerSmartWord: true
    keymapSemicolonToConfirmOnFindInput: true
    keymapYToYankToLastCharacterOfLine: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
