'atom-workspace':
  # focus btn editor and terminal
  'alt-k': 'editor:focus-main'
  'alt-j': 'platformio-ide-terminal:focus'
  # cursor-history package
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'

# Make mini pop navigation consistant
'atom-text-editor[mini]':
  'ctrl-[': 'core:cancel'
  'j k'   : 'core:cancel'
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

# Customize autocomplete-plus
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'

# Insert Mode
'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode'

# Not Insert Mode
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # clipboard-plus & vim-mode-clipboard-plus package
  'alt-p': 'clipboard-plus:toggle'
  # Jump btn functions
  '(': 'vim-mode-plus:move-to-previous-function'
  ')': 'vim-mode-plus:move-to-next-function'
  # choose-pane package
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'

# choose-pane package
'.markdown-preview':
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'
# For tree-view
'.tree-view':
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'
# Map '-', so that I can focus last-focused element by typing `-` twice.
'atom-text-editor#choose-pane-editor':
  '-': 'choose-pane:last-focused'

# Normal Mode
'atom-text-editor.vim-mode-plus.normal-mode':
  # recent-finder package
  ', r': 'recent-finder:toggle'
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  # open-this package
  'g f'     : 'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
  'g x'     : 'link:open'
  # make panes easier to manage
  ', s': 'pane:split-down-and-copy-active-item'
  ', v': 'pane:split-right-and-copy-active-item'
  ', x': 'tabs:close-tab'
  # Reselect last changes
  'g c': 'vim-mode-plus:select-latest-change'
  # Toggle highlighted search
  'backspace': 'vim-mode-plus:toggle-highlight-search'
  # Move btn panes easier
  # Note: Install disable-keybindings package &
  #       In settings disable prefix keys: ctrl-k
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'window:focus-pane-on-left'
  # Move btn tabs in pane
  'ctrl-right': 'pane:show-next-item'
  'ctrl-left' : 'pane:show-previous-item'
  # Easier folding
  'ctrl-z': 'vim-mode-plus:toggle-fold'
  # toggle-settings
  ', t I': 'editor:toggle-indent-guide'
  ', t w': 'editor:toggle-soft-wrap'
  ', t n': 'editor:toggle-line-numbers'
  # surround
  'S'  : 'vim-mode-plus:surround-smart-word'
  's'  : 'vim-mode-plus:surround'
  's d': 'vim-mode-plus:delete-surround-any-pair'
  's c': 'vim-mode-plus:change-surround-any-pair'
  's w': 'vim-mode-plus:surround-word'
  's m': 'vim-mode-plus:map-surround'

# Visual Mode
'atom-text-editor.vim-mode-plus.visual-mode':
  'S': 'vim-mode-plus:surround'

# Make vim-mode-plus blockwise faster
# ref: https://github.com/t9md/atom-vim-mode-plus/issues/214
'atom-text-editor.vim-mode-plus.visual-mode.blockwise':
  'G': 'DONT_MOVE_TO_LAST_LINE'
