packages: [
  "atom-elixir"
  "busy-signal"
  "choose-pane"
  "clipboard-plus"
  "cursor-history"
  "disable-keybindings"
  "file-icons"
  "git-plus"
  "intentions"
  "language-csv"
  "language-elixir"
  "less-than-slash"
  "linter"
  "linter-elixir-credo"
  "linter-elixirc"
  "linter-ui-default"
  "minimap"
  "open-this"
  "package-sync"
  "phoenix-elixir-snippets"
  "pigments"
  "platformio-ide-terminal"
  "recent-finder"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
]
